%footer
  .container-fluid
    .row
      .col-md-48
        %ul
          %li
            = t(:fork_me)
            = link_to 'github.com/dulvie/kinna', 'https://github.com/dulvie/kinna'
          %li
            = t(:feedback_at)
            = link_to 'github', 'https://github.com/dulvie/kinna/issues'

